<div class="horizontal-menu">
    <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/">OpenAM Blog</a>
                <a class="navbar-brand brand-logo-mini" href="/">OpenAM Blog</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown"
                            aria-expanded="false">
                            <div class="nav-profile-text">
                                <p class="text-black">
                                    <% if(locals.username){ %>
                                        <%= username %>
                                    <% } %>
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <% if(locals.username){ %>
                                <a class="dropdown-item" href="#">
                                    <i class="mdi mdi-logout mr-2 text-primary"></i> Log Out </a>
                            <% }else{ %>
                                <a class="dropdown-item" href="/login">
                                    <i class="mdi mdi-logout mr-2 text-primary"></i> Log In </a>
                            <% } %>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="horizontal-menu-toggle">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </div>
    </nav>
    <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Blog</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>