<div id="postModal" class="modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Post</h5>
                <button type="button" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="username" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" value="<%= username %>" readonly
                                disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">Post</label>
                        <textarea class="form-control p-input" id="postContent" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelModal" class="btn btn-light">Cancel</button>
                <button type="button" id="submitPost" class="btn btn-success">Submit</button>
            </div>
            <input class="d-none" id="postIdModal" value="" />
        </div>
    </div>
</div>