<footer class="footer">
    <div class="container">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Developed by Felix v. Haaren & Sascha Blum <i class="mdi mdi-heart text-danger"></i></span>
      </div>
    </div>
  </footer>