<h2>Willkommen</h2>
<p>Dies ist der Blog von OpenAM</p>
<p></p>
<% if(locals.username){ %>
    <a class="btn btn-primary" href="#">
        Log Out </a>
<% }else{ %>
    <a class="btn btn-primary" href="/login">
        Log In </a>
<% } %>