<div class="d-flex align-items-start profile-feed-item">
    <div class="ml-4">
        <h6><%= post.username %></h6>
        <p id="postContent"><%= post.content %></p>
        <p class="small text-muted mt-2 mb-0">
            <span class="ml-2">
                <i class="mdi mdi-clock mr-1"></i><%= post.created_at.toGMTString() %>
            </span>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
                <button type="button" id="editPost" data-postid="<%= post._id %>"
                    class="float-right btn-sm btn-dark btn-icon-text"><i
                        class="mdi mdi-file-check btn-icon-prepend"></i>
                    Edit </button>
                <button type="button" id="deletePost" data-postid="<%= post._id %>"
                    class="btn btn-sm btn-danger btn-icon-text">
                    <i class="mdi mdi-delete btn-icon-prepend"></i> Delete </button>
            </div>
        </p>
    </div>
</div>