<div class="page-header">
    <h3 class="page-title"> Blog </h3><button type="button" id="addPost" class="btn btn-gradient-info btn-icon-text">
        <i class="mdi mdi-plus btn-icon-prepend"></i> Add post </button>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="profile-feed">
                            <% posts.forEach(function(post){ %>
                                <%- include('../partials/post', {post: post}); %>
                            <% }); %>
                            <% if(posts.length === 0){ %>
                                <p class="text-center">No posts found.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/create_post_modal'); %>